@model ClinicaVeterinaria.Models.Consulta

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Consulta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="AnimalId" class="control-label">Paciente (Animal)</label>
                <select asp-for="AnimalId" class="form-control" asp-items="ViewBag.AnimalId"></select>
                <span asp-validation-for="AnimalId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Data da Consulta</label>
                <input type="date" name="dataEscolhida" class="form-control"
                       value="@Model.DataHora.ToString("yyyy-MM-dd")" />
            </div>

            <div class="form-group">
                <label class="control-label">Horário</label>
                <select name="horaEscolhida" class="form-control"
                        asp-items="@(new SelectList(Consulta.ObterHorariosPadrao(), Model.DataHora.ToString("HH:mm")))">
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Motivo" class="control-label"></label>
                <input asp-for="Motivo" class="form-control" />
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Diagnostico" class="control-label" style="font-weight:bold; color:darkblue;">
                    Diagnóstico / Laudo Médico
                </label>
                <textarea asp-for="Diagnostico" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Diagnostico" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Salvar Laudo" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
